/* ========================================= COMMON ========================================= */

/* ========================================== ITEM ========================================== */
.item {
    position: relative;
    width: 100%;
    height: 100%;
}

.item_picture {
    position: absolute;
    width: 100%;
    height: 80%;
}

.item_title {
    display: flex;
    position: absolute;
    width: 90%;
    height: 10%;
    bottom: 5%;
    left: 5%;
    align-items: center;

    font-family: "Prata";
    font-size: 35px;
    font-weight: bold;
    color: #54B435;
    transition: color 1s;
}

.item_box {
    display: flex;
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 20%;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;

    font-family: "Prata";
    font-size: 25px;
    opacity: 0;
    color: #FFFFFF;
    background-color: #0A4D68;
    transition: opacity 1s;
}

/* ========================================== CARD ========================================== */
#card {
    position: relative;
    width: 100%;
    height: 100%;
}

#card_background {
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 0.6;
}

#card_front {
    position: absolute;
    width: 40%;
    height: 50%;
    top: 2.5%;
    left: 2.5%;

    border: 5px solid #DDDDDD;
    border-radius: 20px;
    background-color: #05BFDB;
}

#card_logo {
    display: flex;
    position: absolute;
    width: 40%;
    height: 15%;
    top: 2.5%;
    left: 2.5%;
    align-items: center;

    font-family: "Prata";
    /* /*font-size: 30px;*/
    color: #FFFFFF;
}

#card_logo img {
    width: 20%;
    height: 100%;
    margin-right: 5%;
}

#card_type {
    display: flex;
    position: absolute;
    width: 40%;
    height: 15%;
    top: 2.5%;
    right: 2.5%;
    justify-content: right;
    align-items: center;

    font-family: "Prata";
    font-size: 30px;
    color: #FFFFFF;
}

#card_chip {
    position: absolute;
    width: 20%;
    height: 30%;
    top: 20%;
    left: 12.5%;
}

#card_number {
    display: flex;
    position: absolute;
    width: 95%;
    height: 15%;
    top: 60%;
    left: 2.5%;
    align-items: center;

    font-family: "Prata";
    font-size: 20px;
    letter-spacing: 10px;
    color: #FFFFFF;
}

#card_cardholder {
    display: flex;
    position: absolute;
    width: 60%;
    height: 15%;
    bottom: 5%;
    left: 2.5%;
    align-items: center;

    font-family: "Prata";
    font-size: 18px;
    color: #FFFFFF;
}

#card_date {
    display: flex;
    position: absolute;
    width: 40%;
    height: 20%;
    bottom: 5%;
    right: 2.5%;
    justify-content: right;
    align-items: center;

    font-family: "Prata";
    /* /*font-size: 30px;*/
    color: #FFFFFF;
}

#card_back {
    position: absolute;
    width: 40%;
    height: 50%;
    top: 2.5%;
    right: 15%;

    border: 5px solid #DDDDDD;
    border-radius: 20px;
    background-color: #05BFDB;
}

#card_top {
    position: absolute;
    width: 100%;
    height: 15%;
    top: 10%;

    background-color: #FFFFFF;
}

#card_information {
    position: absolute;
    width: 70%;
    height: 50%;
    top: 25%;
    margin: 1%;

    font-family: "Prata";
    /* /*font-size: 30px;*/
    font-style: italic;
    text-align: justify;
    color: #FFFFFF;
    overflow: visible;
}

#card_password {
    display: flex;
    position: absolute;
    width: 30%;
    height: 15%;
    top: 42.5%;
    right: 0%;
    justify-content: center;
    align-items: center;

    font-family: "Prata";
    /*font-size: 30px;*/
    color: #FFFFFF;
}

#card_bottom {
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 10%;

    background-color: #FFFFFF;
}

#card_input {
    position: absolute;
    width: 95%;
    height: 40%;
    left: 2.5%;
    bottom: 2.5%;

    border: 5px solid #DDDDDD;
    background-color: #FFFFFF;
}

#card_title {
    display: flex;
    position: absolute;
    width: 50%;
    height: 15%;
    top: 5%;
    left: 25%;
    justify-content: center;
    align-items: center;

    font-family: "Prata";
    font-size: 35px;
    font-weight: bold;
    color: #54B435;
}

.card_catagory {
    position: absolute;
    width: 100%;
    height: 40%;

    font-family: "Prata";
    /*font-size: 30px;*/
    text-decoration: underline;
}

.card_input {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0%;
}

.card_input select {
    font-family: "Prata";
    /*font-size: 30px;*/
    border: 2px solid #DDDDDD;
}

.card_input input {
    padding-left: 1.5%;
    padding-right: 1.5%;

    font-family: "Prata";
    /*font-size: 30px;*/
    text-transform: capitalize;
    border: 2px solid #DDDDDD;
}

#card_types {
    position: absolute;
    width: 20%;
    height: 25%;
    top: 25%;
    left: 6.25%;
}

#card_info {
    position: absolute;
    width: 27.5%;
    height: 40%;
    bottom: 5%;
    left: 2.5%;

    font-family: "Prata";
    font-size: 20px;
    text-align: justify;
}

#card_name {
    position: absolute;
    width: 20%;
    height: 25%;
    top: 25%;
    right: 47.5%;
}

#card_numbers {
    position: absolute;
    width: 20%;
    height: 25%;
    top: 55%;
    right: 47.5%;
}

#card_month {
    position: absolute;
    width: 20%;
    height: 25%;
    top: 25%;
    right: 25%;
}

#card_color {
    position: absolute;
    width: 20%;
    height: 25%;
    top: 55%;
    right: 25%;
}

#card_pass {
    position: absolute;
    width: 20%;
    height: 25%;
    top: 25%;
    right: 2.5%;
}

#card_submit {
    position: absolute;
    width: 20%;
    height: 25%;
    top: 55%;
    right: 2.5%;
}

#card_box {
    display: flex;
    position: absolute;
    width: 10%;
    height: 50%;
    top: 2.5%;
    right: 2.5%;
    justify-content: center;
    align-items: center;

    font-family: "Prata";
    /*font-size: 30px;*/
    color: #FFFFFF;
    border: 5px solid #DDDDDD;
    background-color: #379237;
    text-align: center;
}

/* ========================================= STYLIST ======================================== */
.sty {
    position: relative;
    width: 100%;
    height: 100%;
}

.sty_background {
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 0.6;
}

.sty_title {
    display: flex;
    position: absolute;
    width: 20%;
    height: 15%;
    top: 5%;
    left: 7.5%;
    justify-content: center;
    align-items: center;

    font-family: "Prata";
    /*font-size: 30px;*/
    color: #FFFFFF;
    border: 5px solid #DDDDDD;
    background-color: #379237;
}

.sty_one {
    position: absolute;
    width: 30%;
    height: 50%;
    bottom: 5%;
    left: 2.5%;
    transition: height 2s;
}

.sty_two {
    position: absolute;
    width: 30%;
    height: 50%;
    top: 25%;
    left: 35%;
    transition: top 2s, height 2s;
}

.sty_three {
    position: absolute;
    width: 30%;
    height: 50%;
    top: 5%;
    right: 2.5%;
    z-index: 5;
    transition: height 2s;
}

.sty_one:hover,
.sty_three:hover {
    height: 70%;
}

.sty_two:hover {
    top: 5%;
    height: 90%;
}

.sty_image {
    position: absolute;
    width: 100%;
    height: 80%;
}

.sty_step {
    display: flex;
    position: absolute;
    width: 100%;
    height: 20%;
    top: 80%;
    justify-content: center;
    align-items: center;

    font-family: "Prata";
    /*font-size: 30px;*/
    color: #FFFFFF;
    background-color: #0A4D68;
}

.sty_box {
    display: flex;
    position: absolute;
    width: 20%;
    height: 15%;
    bottom: 5%;
    right: 7.5%;
    justify-content: center;
    align-items: center;

    font-family: "Prata";
    /*font-size: 30px;*/
    color: #FFFFFF;
    border: 5px solid #DDDDDD;
    background-color: #379237;
    ;
}


/* ======================================= MEMBERSHIP ======================================= */
#mem {
    position: relative;
    width: 100%;
    height: 100%;
}

#mem_background {
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 0.6;
}

#mem_one {
    top: 10%;
    left: 7.5%;

    background-color: #FBFFDC;
}

#mem_two {
    top: 10%;
    left: 25%;

    background-color: #D0F5BE;
}

#mem_three {
    top: 10%;
    left: 42.5%;

    background-color: #98EECC;
}

#mem_four {
    top: 10%;
    left: 60%;

    background-color: #79E0EE;
}

#mem_special {
    top: 10%;
    right: 7.5%;

    color: #FFFFFF;
    background-color: #379237;
}

.mem_mem {
    position: absolute;
    width: 15%;
    height: 80%;

    font-family: "Prata";
    /*font-size: 30px;*/
    color: #000000;
    border-radius: 20px;
}

.mem_header {
    display: flex;
    position: absolute;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
}

.mem_price {
    display: flex;
    position: absolute;
    width: 100%;
    height: 15%;
    top: 15%;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: #FFFFFF;
    background-color: #088395;
}

.mem_content {
    position: absolute;
    width: 100%;
    height: 55%;
    top: 30%;
}

.mem_service {
    display: flex;
    width: 100%;
    height: 25%;
    justify-content: center;
    align-items: center;

    text-align: center;
    border-bottom: 5px solid #088395;
}

.mem_footer {
    display: flex;
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 0%;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;
    background-color: #088395;
}

#mem_out {
    display: flex;
    position: absolute;
    width: 60%;
    height: 5%;
    top: 3.5%;
    left: 55%;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);


    font-family: "Prata";
    font-size: 15px;
    color: #FFFFFF;
    background-color: #FF0000;
}

.mem_footer:hover {
    cursor: pointer;
    color: #F0FF42;
}

/* ========================================= ACCOUNT ======================================== */
#acc {
    position: relative;
    width: 100%;
    height: 100%;
}

#acc_background {
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 0.6;
}

#acc_form {
    position: absolute;
    width: 95%;
    height: 90%;
    top: 5%;
    left: 2.5%;

    font-family: "Prata";
    border: 5px solid #DDDDDD;
    background-color: #FFFFFF;
}

#acc_title {
    display: flex;
    position: absolute;
    width: 25%;
    height: 10%;
    top: 2.5%;
    left: 13.75%;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    font-weight: bold;
    color: #54B435;
}

#acc_basic {
    position: absolute;
    width: 40%;
    height: 75%;
    top: 20%;
    left: 6.25%;

    border: 5px solid #DDDDDD;
}

#acc_legal {
    position: absolute;
    width: 45%;
    height: 30%;
    top: 20%;
    right: 6.25%;

    border: 5px solid #DDDDDD;
}

#acc_bank {
    position: absolute;
    width: 45%;
    height: 35%;
    bottom: 5%;
    right: 6.25%;

    border: 5px solid #DDDDDD;
}

#acc_action {
    position: absolute;
    width: 40%;
    height: 10%;
    top: 2.5%;
    right: 8.75%;
}

#acc_basic_subtitle {
    display: flex;
    position: absolute;
    width: 20%;
    height: 10%;
    top: 15%;
    left: 10.25%;
    justify-content: center;
    align-items: center;
    z-index: 100;

    font-size: 25px;
    color: #54B435;
    border: 5px solid #DDDDDD;
    background-color: #FFFFFF;
}

#acc_legal_subtitle {
    display: flex;
    position: absolute;
    width: 20%;
    height: 10%;
    top: 15%;
    left: 51.25%;
    justify-content: center;
    align-items: center;
    z-index: 100;

    font-size: 25px;
    color: #54B435;
    border: 5px solid #DDDDDD;
    background-color: #FFFFFF;
}

#acc_bank_subtitle {
    display: flex;
    position: absolute;
    width: 20%;
    height: 10%;
    top: 55%;
    left: 51.25%;
    justify-content: center;
    align-items: center;
    z-index: 100;

    font-size: 25px;
    color: #54B435;
    border: 5px solid #DDDDDD;
    background-color: #FFFFFF;
}

.acc_catagory {
    position: absolute;
    width: 100%;
    height: 40%;

    /*font-size: 30px;*/
    text-decoration: underline;
}

.acc_input {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0%;
}

.acc_input input {
    padding-left: 1.5%;
    padding-right: 1.5%;

    font-family: "Prata";
    /*font-size: 30px;*/
    text-transform: capitalize;
    border: 2px solid #DDDDDD;
}

.acc_input select {
    font-family: "Prata";
    /*font-size: 30px;*/
    border: 2px solid #DDDDDD;
}

#acc_name {
    position: absolute;
    width: 40%;
    height: 15%;
    top: 10%;
    left: 7.5%;
}

#acc_surname {
    position: absolute;
    width: 40%;
    height: 15%;
    top: 10%;
    right: 7.5%;
}

#acc_gender {
    position: absolute;
    width: 40%;
    height: 15%;
    top: 27.5%;
    left: 7.5%;
}

#acc_ethnic {
    position: absolute;
    width: 40%;
    height: 15%;
    top: 27.5%;
    right: 7.5%;
}

#acc_dob {
    position: absolute;
    width: 40%;
    height: 15%;
    top: 45%;
    left: 7.5%;
}

#acc_pob {
    position: absolute;
    width: 40%;
    height: 15%;
    top: 45%;
    right: 7.5%;
}

#acc_phone {
    position: absolute;
    width: 40%;
    height: 15%;
    top: 62.5%;
    left: 7.5%;
}

#acc_email {
    position: absolute;
    width: 40%;
    height: 15%;
    top: 62.5%;
    right: 7.5%;
}

#acc_image {
    position: absolute;
    width: 85%;
    height: 15%;
    top: 80%;
    right: 7.5%;
}

#acc_image input::file-selector-button {
    font-family: "Prata";
    border: none;
    padding-top: 1%;
}

#acc_nid {
    position: absolute;
    width: 40%;
    height: 35%;
    top: 20%;
    left: 7.5%;
}

#acc_nal {
    position: absolute;
    width: 40%;
    height: 35%;
    top: 20%;
    right: 7.5%;
}

#acc_dor {
    position: absolute;
    width: 40%;
    height: 35%;
    top: 57.5%;
    left: 7.5%;
}

#acc_por {
    position: absolute;
    width: 40%;
    height: 35%;
    top: 57.5%;
    right: 7.5%;
}

#acc_id {
    position: absolute;
    width: 40%;
    height: 35%;
    top: 20%;
    left: 7.5%;
}

#acc_pass {
    position: absolute;
    width: 40%;
    height: 35%;
    top: 20%;
    right: 7.5%;
}

#acc_holder {
    position: absolute;
    width: 40%;
    height: 35%;
    top: 57.5%;
    left: 7.5%;
}

#acc_accept {
    position: absolute;
    width: 50%;
    height: 35%;
    top: 57.5%;
    right: 7.5%;

    font-size: 20px;
}

#acc_accept_one {
    display: flex;
    position: absolute;
    width: 100%;
    height: 50%;
    align-items: center;
}

#acc_accept_two {
    display: flex;
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0%;
    align-items: center;
}

#acc_accept input {
    width: 15%;
    height: 80%;
}

#acc_accept a {
    color: #000000;
    text-decoration: underline;
}

#acc_submit {
    position: absolute;
    width: 40%;
    height: 90%;
    top: 5%;
    left: 7.5%;
}

#acc_reset {
    position: absolute;
    width: 40%;
    height: 90%;
    top: 5%;
    right: 7.5%;
}

#acc input[type="submit"],
#acc input[type="reset"] {
    font-family: "Prata";
    /*font-size: 30px;*/
    color: #FFFFFF;
    border: 2px solid #DDDDDD;
    background-color: #379237;
}

#acc_fin {
    display: none;
    position: absolute;
    width: 87.5%;
    height: 80%;
    top: 15%;
    left: 6.25%;
    justify-content: center;
    align-items: center;
    z-index: 200;

    font-family: "Prata";
    font-size: 100px;
    color: #54B435;
    background-color: #FFFFFF;
}

/* ======================================== EXCHANGE ======================================== */
#exc {
    position: relative;
    width: 100%;
    height: 100%;
}

#exc_background {
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 0.6;
}

.exc_style {
    position: absolute;
    width: 20%;
    height: 45%;

    font-family: "Prata";
    /*font-size: 30px;*/
    border: 5px solid #DDDDDD;
    border-radius: 20px;
}

.exc_style>* {
    display: flex;
    font-family: "Prata";
    /*font-size: 30px;*/
    justify-content: center;
    align-items: center;
}

.exc_logo {
    display: flex;
    position: absolute;
    width: 100%;
    height: 40%;
    top: 0%;
    justify-content: center;
    padding-top: 5%;

    background-color: #DDDDDD;
}

.exc_logo img {
    width: 50%;
    height: 100%;

    object-fit: fill;
}

.exc_input {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 40%;

    background-color: #DDDDDD;
}

.exc_input input {
    height: 80%;
    margin-top: 4%;
    padding-left: 1.5%;
    padding-right: 1.5%;

    font-family: "Prata";
    /*font-size: 30px;*/
    border: 2px solid #000000;
    background-color: #FFFFFF;
}

.exc_text {
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0%;

    font-size: 25px;
    text-align: center;
    color: #000000;
    transition: color 1s, background-color 1s;
}

#exc_dollar {
    top: 4%;
    left: 4%;

    background-color: #FFADAD;
}

#exc_euro {
    top: 4%;
    left: 28%;

    background-color: #FFD6A5;
}

#exc_dong {
    top: 4%;
    right: 28%;

    background-color: #FDFFB6;
}

#exc_pound {
    top: 4%;
    right: 4%;

    background-color: #CAFFBF;
}

#exc_won {
    bottom: 4%;
    left: 16%;

    background-color: #9BF6FF;
}

#exc_yen {
    bottom: 4%;
    left: 40%;

    background-color: #BDB2FF;
}

#exc_lira {
    bottom: 4%;
    right: 16%;

    background-color: #FFC6FF;
}

.exc_input:has(input:focus)+.exc_text {
    color: #FFFFFF;
    background-color: #0A4D68;
}

/* ========================================= ARTIST ========================================= */
.art {
    position: relative;
    width: 100%;
    height: 100%;
}

.art_background {
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 0.6;
}

.art_content {
    position: absolute;
    width: 100%;
    height: 40%;
}

.art_one {
    top: 10%;
}

.art_two {
    bottom: 10%;
}

.art_divide_one {
    position: absolute;
    width: 100%;
    height: 10%;
    top: 35%;

    background-color: #DDDDDD;
}

.art_divide_two {
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 35%;

    background-color: #DDDDDD;
}

.art_gold {
    display: flex;
    position: absolute;
    width: 30%;
    height: 100%;
    justify-content: center;
}

.art_line {
    width: 10%;
    height: 100%;
    margin-left: 3%;
    margin-right: 3%;
    transform: rotate(45deg);

    background-color: #F0FF42;
}

.art_one .art_gold {
    top: 0%;
    left: 15%;
}

.art_two .art_gold {
    bottom: 0%;
    right: 15%;
}

.art_image {
    position: absolute;
    width: 27%;
    height: 100%;

    border: 5px solid #DDDDDD;
    border-radius: 1000px;
}

.art_one .art_image {
    top: 0%;
    right: 15%;
}

.art_two .art_image {
    top: 0%;
    left: 15%;
}

.art_mini {
    position: absolute;
    width: 13%;
    height: 50%;

    border: 5px solid #DDDDDD;
    border-radius: 1000px;
}

.art_one .art_mini {
    bottom: 0%;
    right: 10%;
}

.art_two .art_mini {
    bottom: 0%;
    left: 10%;
}

.art_box {
    display: flex;
    position: absolute;
    width: 20%;
    height: 15%;
    bottom: 5%;
    right: 7.5%;
    justify-content: center;
    align-items: center;

    font-family: "Prata";
    /*font-size: 30px;*/
    color: #FFFFFF;
    border: 5px solid #DDDDDD;
    background-color: #379237;
}

.art_one .art_box {
    width: 40%;
    height: 20%;
    top: 40%;
    left: 10%;
    background-color: #0A4D68;
}

.art_two .art_box {
    width: 40%;
    height: 20%;
    top: 40%;
    right: 10%;
    background-color: #0A4D68;
}