/* ========================================= COMMON ========================================= */
html:hover
{
    cursor: default;
}

/* ========================================== ITEM ========================================== */
.item
{
    position: relative;
    width: 100%;
    height: 100%;
}
.item_picture
{
    position: absolute;
    width: 100%;
    height: 100%;

    transition: opacity 2s;
}
.item_picture img
{
    object-fit: fill;
}
.item_title
{
    display: flex;
    position: absolute;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;

    font-family: "Prata";
    font-size: 50px;
    font-weight: bold;
    color: #0A4D68;
}
.item_paragraph
{
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 0;
    transition: opacity 2s;
}
.item_info
{
    display: flex;
    position: absolute;
    width: 90%;
    height: 50%;
    top: 20%;
    left: 5%;
    justify-content: center;

    font-family: "Prata";
    font-size: 25px;
    text-align: justify;
}
.item_box
{
    display: flex;
    position: absolute;
    width: 70%;
    height: 15%;
    bottom: 10%;
    left: 15%;
    justify-content: center;
    align-items: center;
    
    font-family: "Prata";
    font-size: 30px;
    border: 5px solid #DDDDDD;
    color: #FFFFFF;
    background-color: #0A4D68;
}
.item:hover .item_picture
{
    opacity: 0.2;
}
.item:hover .item_paragraph
{
    opacity: 1;
}