* {
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #27374D !important;
}

img {
    width: 280px;
    height: 170px;
}

h4 {
    text-transform: uppercase;
}

.media-heading {
    padding-top: 10px;
}

.media-left {
    width: 50%;
}