* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #526D82 !important;
}

.media .media-left img {
    width: 270px;
    height: auto;
}

.navbar-brand {
    text-transform: uppercase;
}

.col-sm-9 {
    height: 725px !important;
}

.canhan {
    bottom: 0px;
    position: absolute;
}

.footer {
    background-color: #27374D;
}

.footer .row {
    display: flex;
    margin-left: 15px;
    text-align: center;
}

.footer .row .rol-sm-3 .media .media-body .fa-brands {
    font-size: 20px;
    margin: 5px;
}

/* .footer .row .rol-sm-3 .media .icon a{
    display: flex;
} */

#myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
}

.container .btn-group .btn {
    background-color: none;
    border: 0;
    padding: 24px;
}

#section1,
#section2,
#section3,
#section4 {
    padding-top: 50px;
}

.content table,
td,
th,
.panel-group .panel-collapse .panel-body ._2 table,
td,
th {
    border: 1px solid black;
}

.content table td,
.panel-group .panel-collapse .panel-body ._2 table td {
    padding: 5px;
    align-items: center;
}

.content .center,
.panel-group .panel-collapse .panel-body ._2 table .center {
    text-align: center;
}

.content table th,
.panel-group .panel-collapse .panel-body ._2 table th {
    text-align: center;
    padding: 10px;
}

.content table th {
    background-color: burlywood;
}

.panel-group .panel-collapse .panel-body ._2 table td ul {
    margin-left: 15px;
    line-height: 30px;
}

.panel-group .panel-collapse .panel-body ._2 .dieukien2 {
    margin: auto;
}

.row .row-sm-3 .table {
    margin-top: 10px;
}

/* .sp .row .col-sm-3 .media {
    height: 450px;
    margin-top: 10px;
} */

.sp .row .col-sm-3 .media .media-top img,
#content .sp img {
    width: 280px;
    height: 170px;
}

/* Email */
.box-content {
    width: 50%;
    margin: auto;
}

.box-content label {
    width: 33.33333%;
}

.box-content input {
    width: 65.55555%;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    border: 0.5px solid black;
    margin-bottom: 2px;
}

.navbar .container-fluid {
    background-color: #27374D;
    font-size: 18px;
}

.navbar .container-fluid .collapse .nav {
    float: right;

}

.navbar .container-fluid .collapse .nav .dropdown .dropdown-menu {
    background-color: #27374D;
    font-size: 18px;
}

.navbar .container-fluid .collapse .nav .dropdown .dropdown-menu li a:hover {
    background-color: #9DB2BF;
}

.navbar .container-fluid .navbar-header a,
.navbar .container-fluid .collapse .nav li a {
    color: #fff;
}

.btn-group {
    border: none;
}

.row .col-md-4 .thumbnail {
    background-color: #9DB2BF;
    padding: 0px;
    border: none;
}

.text-center {
    color: #fff;
}

.media {
    background-color: #9DB2BF;
}

.carousel .carousel-inner .item .row .col-sm-4 .thumbnail {
    background-color: #9DB2BF;
    padding: 0px;
    border: none;
}

.footer .media-body a,
.footer .media-body {
    background-color: #27374D;
    color: #fff;
}

.footer .media-body .media-heading,
.footer .media-body a {
    margin-left: 10px;
    margin-top: 5px;
}

.footer .media-body a {
    font-size: 18px;
}

/* Email liên hệ*/

.container .jumbotron .row .col-sm-10 .row select,
textarea {
    width: 100%;
}

.container .jumbotron .row .col-sm-10 .row select {
    height: 30px;
}

.container .jumbotron .row .col-sm-12 {
    text-align: center;
}

.container .jumbotron .row .col-sm-12 input {
    width: 100px;
    height: 50px;
}

.coche .jumbotron ul li {
    color: #000;
    margin: 20px;
}

.coche .jumbotron table th,
td {
    padding: 10px;
}

.coche .jumbotron td .dieukien2 {
    margin: auto;
}

/* .container-fluid .coche {
    color: #fff;
} */

.panel-group .panel .panel-collapse .panel-body .content .col-sm-4 select {
    width: 100%;
    padding: 10px;
}

.coche .jumbotron .text-center {
    color: #000;
}

.sp .text-center .btn-default {
    width: 100%;
    margin-left: 10px;
    margin-top: 5px;
}

.sp .row .col-sm-3 .media .media-heading {
    color: #000;
}

.btn-group a,
a,
p {
    font-size: 18px;
}

.row .col-md-6 .thumbnail {
    height: 450px;
}

.media-heading {
    font-size: 24px;

}

.slide .carousel-inner .item .row .col-sm-4 .thumbnail {
    height: 350px;
}

.sp,
.coche,
.tracuu,
.tintuc {
    margin-top: 50px;
}

.sp .row .col-sm-3 .media .media-top img {
    width: 100%;
    height: 170px;
}

.content .table-bordered tbody {
    color: #fff;
}

.content p b,
ul li,
.content .table-hover tbody {
    color: #fff;
}

.content .table-hover tbody .success {
    color: #000;
}