* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.col-sm-9 {
    height: 725px !important;
}

/* .navbar-current .container-fluid {
    display: flex;
} */

/* .navbar-current .container-fluid .glyphicon {
    display: block;
    line-height: 50px;
    color: white;
    cursor: pointer;
    font-size: 16px;
} */

.footer .row {
    display: flex;
    /* width: 100%; */
    margin-left: 15px;
}

/* .footer .row .col-sm-3{
    width: 100%;
} */

#myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
}

.container .btn-group .btn{
    background-color: none;
    border: 0;
    padding: 24px;
}

#section1, #section2, #section3, #section4 {
    padding-top: 50px;
}

/* @media only screen and (max-width: 540px){
    .dropdown {
        display: none;
    }
    .container-fluid {
        display: flex;
    }
} */

/* @media screen and (max-width: 410px){
    .navbar-current .container-fluid .dropdown {
        display: block;
    }
    .navbar-current .container-fluid {
        justify-content: space-between;
    }
} */

.content table, td, th,
.panel-group .panel-collapse .panel-body ._2 table, td, th {
    border: 1px solid black;
}

.content table td,
.panel-group .panel-collapse .panel-body ._2 table td {
    padding: 5px;
    align-items: center;
}

.content .center,
.panel-group .panel-collapse .panel-body ._2 table .center {
    text-align: center;
}

.content table th,
.panel-group .panel-collapse .panel-body ._2 table th {
    text-align: center;
    padding: 10px;
}

.content table th {
    background-color: burlywood;
}

.panel-group .panel-collapse .panel-body ._2 table td ul {
    margin-left: 15px;
    line-height: 30px;
}

.panel-group .panel-collapse .panel-body ._2 .dieukien2 {
    margin: auto;
}

.danang{
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 100%;
}

.danang img{
    width: 100%;
    height: auto;
}

.danang ul {
    margin-left: 15px;
}

/* KHACH HANG CA NHAN */
.row .row-sm-3 .table {
    margin-top: 10px;
}

/* Email */
.box-content {
    width: 50%;
    margin: auto;
}

.box-content label {
    width: 33.33333%;
}

.box-content input {
    width: 65.55555%;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    border: 0.5px solid black;
    margin-bottom: 2px;
}