* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    margin-top: 50px;
}

.navbar-current {
    display: block;
}

.navbar-current .container-fluid {
    display: flex;
    justify-content: space-between;
}

.navbar-current .container-fluid .glyphicon {
    display: block;
    line-height: 50px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

#myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
}

.navbar-fixed {
    display: none;
}

.navbar-fixed .container-fluid {
    display: flex;
    justify-content: center;
}

.navbar-fixed .container-fluid .navbar-header .navbar-brand {
    margin-left: 0px;
}

.container .btn-group .btn{
    background-color: none;
    border: 0;
    padding: 24px;
}